<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
    <title>Bienvenido</title>
</head>

<body>
    <div class="header">
        <div class="user-info">
            <img src="/proxy_image?url={{ user['picture'] }}" alt="Foto de usuario" class="profile-pic">
            <strong>{{ user['name'] }}</strong>
        </div>
        <div class="logout-btn-container">
            <a href="{{ url_for('auth.logout') }}" class="logout-btn">Cerrar Sesión</a>
        </div>
    </div>
    <div class="container">
        <div class="header-todo">
            <h1>Lista de Tareas</h1>
            <a href="{{ url_for('todo.create') }}" class="add-btn">Crear nueva To Do</a>
        </div>


        {% if todos %}
        <ul class="todo-list">
            {% for todo in todos %}
            <li>
                <div class="todo-header">
                    <h2>{{ todo.name }}</h2>
                    <div class="user-info-todo">
                        <img src="/proxy_image?url={{ todo.creator.picture }}" alt="Usuario" class="profile-pic-todo">
                        <strong>{{ todo.creator.name }}</strong>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No hay tareas pendientes.</p>
        {% endif %}
    </div>
</body>

</html>