<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
    <title>Bienvenido</title>
</head>

<body>
    <div class="container">
        <h1>¡Hola, {{ user['name'] }}!</h1>
        <img src="{{ user['picture'] }}" alt="Imagen de perfil" class="profile-pic">
        <p>Correo: {{ user['email'] }}</p>
        <a href="{{ url_for('logout') }}" class="btn">Cerrar sesión</a>
    </div>
</body>

</html>